/* @font-face {
    font-family: 'Dusha';
    src: url('/asset/font/Dusha.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/asset/font/Ubuntu-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/asset/font/Ubuntu-Bold.ttf');
  font-weight: 600;
}

.title, .subtitle {
    color: black;
}

h1, h2 {
  margin-left: 12px;
}

.dusha {
    font-family: 'Dusha', Arial, sans-serif;
}

html, body {
    min-height: 100vh;
    width: 100%;
}
body {
    display: grid;
    font-family: 'Ubuntu', 'Times New Roman';
}

.courier {
    font-family: "Courier 10 Pitch", monospace;
    font-size: 1.25rem;
}

.bg-circle {
    height: 275%;
    margin-top: -50%;
    border-radius: 0 100% 100% 0;
}

.bg-circle-container {
    height: 100%;
    width: 60%;
    overflow-y: hidden;
    position: absolute;
    z-index: -1;
    min-width: 630px;
    animation: gradient-spin 10s linear infinite;
}

@media only screen and (max-width: 630px) {
    .bg-circle-container, .bg-circle {
        display: none;
    }
    .is-large {
        font-size: 1.25rem !important;
    }
    html, body {
        height: unset;
    }
    .button {
        width: 45%;
    }
    .button * {
        width: 80%;
    }
}
.min-h-100 {
    min-height: 100%;
}

.h100 {
    height: 100%;
}

.h80 {
    height: 80%;
}

#insta-btn:hover {
    background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    border: 0;
    margin-right: 6px;
}

#insta-btn:hover span {
    color: white;
}

#pics-btn:hover {
    background-image: url("/asset/img/stars.png");
    border: 0;
    margin-right: 6px;
}

#fun-btn:hover {
    animation: 2s shake;
}

.button {
    margin-right: 4px;
    margin-top: 8px;
}

#venmo-btn:hover, #venmo-btn:focus, #venmo-btn:active {
    background-color: #3d95ce;
    border: 0;
    margin-right: 6px;
}

#venmo-btn:hover svg, #venmo-btn:active svg, #venmo-btn:focus svg {
    fill: white;
}

#venmo-svg {
    width: 1.5em;
    height: 1.5em;
}

.language-icon {
    display: inline;
    filter: grayscale(33%);
    height: 2.5em;
    margin-right: 8px;
}

.language-icon:hover {
    display: inline;
    filter: none;
}
.subtle-link {
    color: inherit;
}

.subtle-link:hover, .subtle-link:active, .subtle-link:focus {
    text-decoration: underline;
}

.project-thumbnail {
    //
}

.is-parent,  .is-child {
    height: 100%;
}

.tile {
    position: relative;
    padding-bottom: 4rem;
}

.tile-footer {
    position: absolute;
    bottom: 0;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 10px;
    display: flex;
    margin-bottom: 0.5rem;
}

.prograss-bar {
    transition: width 0.5s ease;
    display: inline-block;
    height: 18px;
    margin-top: 3px;
    margin-left: 4px;
    border-radius: 14px;
    animation: makeProgress 1.5s ease-in-out;
}

.meter {
    background-color: #fff;
    width: 80%;
    height: 24px;
    max-width: 600px;
    border-radius: 16px;
}


.language-progress-icon {
    animation: makeProgressIcon 1.5s ease-in-out;
    height: 48px;
    width: 48px;
    background-color: white;
    border-radius: 24px;
    margin-top: -200%;
    border: 1px solid black;
}


@keyframes makeProgress {
    0% {
        width: 0;
    }
    100% {
        width: inherit;
    }
}

@keyframes makeProgressIcon {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: inherit;
    }
}

#portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.is-parent {
    display: flex;
    flex-basis: 100%;
    flex: 1 0 330px;
    max-width: 330px;
    height: unset   ;
}

@media only screen and (max-width: 630px) {
    .is-parent {
        margin: 2px auto;
    }
    #buttons {
        text-align: center;
    }

    h1, h2 {
      margin-left: 16px;
    }

    img {
      transform: scale(0.9);
    }
}

cool transparency??
.tile.is-child {
    mix-blend-mode: multiply;
    background-color: transparent;
}
.tile {
    background-color: transparent!important;
}

.box {
    box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.24);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes gradient-spin {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #444444ff;
  }
  .button.is-white.is-inverted.is-outlined, h1, h2 {
    color: white!important;
    border-color: white;
  }
  .button.is-white.is-inverted.is-outlined:hover {
    border-color: black;
  }
  #venmo-svg {
    fill: white;
  }
  .bg-circle-container {
    filter: brightness(0.6) saturate(1.5);
  }
}

@media (prefers-color-scheme: dark) and screen and (max-width: 630px) {
  .bg-gradient {
    filter: brightness(0.0) saturate(1.5);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

#profile-pic {
  height: auto;
  width: 100%;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
}

#bg-image {
  position: absolute;
  border-radius: 50%;
  border: 1px solid white;
  animation: fadeOut 3s linear 2.1s;
}

.image svg, .image path, .image polyline {
  stroke:#fff;
  stroke-width:2px
}
.image svg path{
  fill: #00000000;
}

svg {
  height: auto;
  width: auto;
} */
