@font-face {
    font-family: 'Dusha';
    src: url('../asset/font/Dusha.ttf');
}

.title, .subtitle {
    color: black;
}

.dusha {
    font-family: 'Dusha', Arial, sans-serif;
}

html, body {
    height: 100%;
}
.courier {
    font-family: "Courier 10 Pitch", monospace;
}

.bg-circle {
    height: 275%;
    margin-top: -50%;
    border-radius: 0 100% 100% 0;
}

.bg-circle-container {
    height: 100%;
    width: 60%;
    overflow-y: hidden;
    position: absolute;
    z-index: -1;
    min-width: 630px;
}

@media only screen and (max-width: 630px) {
    .bg-circle-container, .bg-circle {
        display: none;
    }
    .is-large {
        font-size: 1.25rem !important;
    }
    html, body {
        height: unset;
    }
    .button {
        width: 45%;
    }
    .button * {
        width: 80%;
    }
}
.min-h-100 {
    min-height: 100%;
}

.h100 {
    height: 100%;
}

.h80 {
    height: 80%;
}

#insta-btn:hover {
    background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    border: 0;
    margin-right: 6px;
}

#insta-btn:hover span {
    color: white;
}

.button {
    margin-right: 4px;
    margin-top: 8px;
}

#venmo-btn:hover, #venmo-btn:focus, #venmo-btn:active {
    background-color: #3d95ce;
    border: 0;
    margin-right: 6px;
}

#venmo-btn:hover svg, #venmo-btn:active svg, #venmo-btn:focus svg {
    fill: white;
}

#venmo-svg {
    width: 1.5em;
    height: 1.5em;
}

.language-icon {
    display: inline;
    filter: grayscale(33%);
    height: 2.5em;
    margin-right: 8px;
}

.language-icon:hover {
    display: inline;
    filter: none;
}
.subtle-link {
    color: inherit;
}

.subtle-link:hover, .subtle-link:active, .subtle-link:focus {
    text-decoration: underline;
}

.project-thumbnail {
    //
}

.is-parent,  .is-child {
    height: 100%;
}

.tile-footer {
    margin-top: auto;
}
.prograss-bar {
    transition: width 0.5s ease;
    display: inline-block;
    height: 18px;
    margin-top: 3px;
    margin-left: 4px;
    border-radius: 14px;
    animation: makeProgress 1.5s ease-in-out;
}

.meter {
    background-color: #fff;
    width: 80%;
    height: 24px;
    max-width: 600px;
    border-radius: 16px;
}


.language-progress-icon {
    animation: makeProgressIcon 1.5s ease-in-out;
    height: 48px;
    width: 48px;
    background-color: white;
    border-radius: 24px;
    margin-top: -200%;
    border: 1px solid black;
}


@keyframes makeProgress {
    0% {
        width: 0;
    }
    100% {
        width: inherit;
    }
}

@keyframes makeProgressIcon {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: inherit;
    }
}